<div class="{{ theme_hook_original }}">

    <i class="close fa fa-times"></i>

    <a class="works_detail-prev {{ variables['work']['prev'] ? 'enabled' : 'disabled' }}" href="{{ variables['work']['prev'] }}">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="works_detail-next {{ variables['work']['next'] ? 'enabled' : 'disabled' }}" href="{{ variables['work']['next'] }}">
        <i class="fa fa-angle-right"></i>
    </a>

    <div class="detail">
        <img src="{{ variables.work.image.auto_orientation }}" />
    </div>

</div>
