<div class="{{ theme_hook_original }}" id="nos-partenaires">
    <div class="container">
        <h1>Nos Partenaires</h1>
        <div class="partners_list row">
            {% for partner in variables['partners'] %}
            <a href="{{ partner.url }}" target="_blank" class="col-xs-6 col-sm-3 partner">
                <div class="inner">
                    <div class="partner-logo" style="background-image: url('{{ partner.image }}');"></div>
                </div>
            </a>
            <a href="{{ partner.url }}" target="_blank" class="col-xs-6 col-sm-3 partner">
                <div class="inner">
                    <div class="partner-logo" style="background-image: url('{{ partner.image }}');"></div>
                </div>
            </a>
            <a href="{{ partner.url }}" target="_blank" class="col-xs-6 col-sm-3 partner">
                <div class="inner">
                    <div class="partner-logo" style="background-image: url('{{ partner.image }}');"></div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
