<div class="{{ theme_hook_original }}">

    <div class="container">
        <div class="col-xs-12 col-sm-3 logo">
            <a href="{{ url('<front>') }}"><img src="{{ variables['logo'] }}" alt="Logo Amicolor" /></a>
        </div>
        <div class="hidden-xs col-sm-9 main-menu">
            <ul class="menu">
                {% for link in variables['menu'] %}
                <li class="link">
                    <a class="roboto-bold" href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
